@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

.noto-serif-asgn02 {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.inter-asgn02 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
ul {
  text-align: left;
  list-style-type: square;
  list-style-position: initial;
  padding: 30px;
}
ul li::marker {
  font-size: 1.4em; /* Adjust as needed */
  color: gray;
  /* margin-left: 20px;
  padding: 25px; */
}
