@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

.noto-serif-asgn02 {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.inter-asgn02 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.special-bullet {
  text-align: left;
}
.special-bullet ul {
  list-style-type: square;
  list-style-position: initial;
  padding: 30px;
}
.special-bullet ul li::marker {
  font-size: 1.4em; /* Adjust as needed */
  color: gray;
}

.image-container {
  position: relative;
  max-width: 540px;
  max-height: 597px;
}
.base-image {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.overlay-image {
  position: absolute;
  top: -200px;
  left: 220px;
  z-index: 2;
}
